[importlinter]
root_package = Bio

[importlinter:contract:bigpsl-independence]
name = BigPsl independence
type = independence
modules =
    Bio.Align.bigpsl

[importlinter:contract:abiio-forbidden]
name = AbiIO does not couple to AceIO
type = forbidden
source_modules =
    Bio.SeqIO.AbiIO
forbidden_modules =
    Bio.SeqIO.AceIO
allow_indirect_imports = True

[importlinter:contract:aceio-forbidden]
name = AceIO does not couple to AbiIO
type = forbidden
source_modules =
    Bio.SeqIO.AceIO
forbidden_modules =
    Bio.SeqIO.AbiIO
allow_indirect_imports = True

[importlinter:contract:swissio-forbidden]
name = SwissIO does not couple to PirIO
type = forbidden
source_modules =
    Bio.SeqIO.SwissIO
forbidden_modules =
    Bio.SeqIO.PirIO
allow_indirect_imports = True

[importlinter:contract:pirio-forbidden]
name = PirIO does not couple to SwissIO
type = forbidden
source_modules =
    Bio.SeqIO.PirIO
forbidden_modules =
    Bio.SeqIO.SwissIO
allow_indirect_imports = True